@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

:root{
    --primary-color:#FCD34D;
    --primary-dark:#111827;
    --txt-color:#FEF3C7;

}
body{
  font-family: 'Montserrat', sans-serif;;
  background-color: var(--primary-dark);
  
  }
#txt-output{
    width:90%;
    height:5rem;
    border:1px solid black;
    border-radius: 0.3rem;
    background-color: #FEF3C7;
    color:var(--primary-dark);
}
.translate-now{
    color:var(--txt-color);
}

#hero-heading{
  text-align: center;
  height:100px;
  padding-top:2.5rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: var(--primary-color);
  
}
#txt-input{
    width:90%;
    height:100px;
    margin:2rem;
    font-size: large;
}
#txt-output{
    width:90%;
    height:100px;
    margin:2rem; 
}
#btn-translate{
    background-color: var(--primary-color);
    font-size: large;
}
#footer{
    background-color: var(--primary-color);
    padding:1rem;
}
#footer p{
    padding:1rem;
}
#footer h2{
    text-align: center;
    padding:0.5rem;
}
.container{
   max-width:80%;
    margin:0 auto;
}
.container1{
    width:20%;
    margin:0 auto;
}